

header{
    
    display:flex;
    
    background-color: rgba(40, 40, 40, 1);
    color: rgb(255, 255, 255);
    text-decoration: none;
     font-family: 'Inter', sans-serif;
    font-weight: bold;
    height: 100px;
    padding-top: 10px;
    padding-left: 30px;
    
    
    
}

#logotype {
    height: 100%; /* Змініть на відсоткове значення */
    width: auto; /* Автоматична ширина */
    max-height: 85px; /* Максимальна висота, якщо потрібно */
    max-width: 85px; /* Максимальна ширина, якщо потрібно */
}

@media screen and (max-width: 1200px) {
    header {
        flex-direction: column;
        height: 500px;
        align-items: center;

            }
        #logotype{
            width: 60px;
            height: 60px;
            margin-left: 50px;
            
        }

      


        footer{
            margin-top: 100px;
            flex-direction: column;
            height: 400px;
            align-items: center;
            font-size: 14px;
            align-items: center;

        }

        
        }

        @media screen and (max-width: 750px) {
            header {
                flex-direction:block;
                height: 340px;
                align-items:center;
                padding-right: 100px;
                
        
                    }
                #logotype{
                    width: 45px;
                    height: 45px;
                    margin-left: 70px;
                    
                }

                .contact-logo{
                    margin-top: 20px;
                    margin-left: 35px;
                }

              #head-text{
                font-size: 14px;
                margin-top: 1px;
              }

              h1{
                font-size: 10px;
                
              }
        
        
                footer{
                    margin-top: 100px;
                    flex-direction: column;
                    height: 400px;
                    align-items: center;
                    font-size: 14px;
                    align-items: center;
        
                }
                .contacts{
                    margin-right: 100px;
                }

                .social{
                    margin-right: 100px;
                }

                .other{
                    margin-right: 100px;

                }

                #photo-footer{

                    margin-top: 30px;
                    margin-right: 100px;

                }
        
                
                }
        


        

a {
    text-decoration: none;
    color: rgb(241, 241, 241);
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding-top: 30px;
    padding-left: 75px ;
    
    
    
}

.fit-picture{
    height : 250px;
    width:350px;
}

.contact-logo{
    padding-left: 55px;
    padding-top: 0px;
}

.contacts{
    margin-left: 75px;

    
}

h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    font-size: 44px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.benefits{
    display: flex;
    justify-content: center; /* Центрування по горизонталі */
    align-items: center; /* Центрування по вертикалі */
    flex-wrap: wrap;   
}

.benText{
    padding-right: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
}


.button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.top{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 26px;

}


.orderTop{
    display: flex;
    justify-content: center; /* Центрування по горизонталі */
    align-items: center;

}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh; /* Налаштування висоти на весь екран */
  }

.offers{
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color:rgba(242, 242, 242, 1);
    width: 1600px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-x: auto; 
    white-space: nowrap;
    flex-wrap: wrap;   

}

#photo-footer{
    margin-left: 100px;
    height: 85px;
    width: 85px;
}


.text-audi, .text-tesla, .text-passat, .text-toyota, .text-ford{
    
    border-top: solid;
}

.audi-main, .tesla-main, .toyota-main, .passat-main, .ford-main{
    margin-left:10px ;
    border: solid;
    transition: box-shadow 0.2s;
    

}

.tesla-main:hover, .audi-main:hover,.toyota-main:hover, .passat-main:hover, .ford-main:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}





h2{
    text-align: center;
    margin-top: 2px;
    margin-bottom: 0px;
    padding-bottom: 1px;
    display: block;
}

h3{
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 3px;
    margin-bottom: 1px;
}



h4{
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    white-space: pre;
}



footer{
    
    display:flex;
    background-color: rgba(40, 40, 40, 1);
    color: rgb(255, 255, 255);
    text-decoration: none;
     font-family: 'Inter', sans-serif;
    font-weight: bold;
    
    padding-top: 10px;
    padding-left: 30px;
    justify-content: center; /* Центрування по горизонталі */
   

    
    
    
}



.contact{
    margin-top: 10px;
}

.social{
    display: block;
    margin-left: 100px;
    text-align: center;
}


.other{
    margin-top: 15px;
    display: block;
    margin-left: 100px;
}

#footer-items{
    font-size: 16px;
    text-transform: none;
 
    margin-top: 3px;
    padding: 0%;
}


.toggleImage {
    cursor: pointer; /* Зміна вигляду курсору при наведенні на зображення */
    transition: transform 0.3s ease; /* Плавний перехід для зображення */
}
.toggleImage.rotate{
    transform: scaleY(-1);
}

.car {
    position: relative;
    bottom: -300px; /* Початкове положення машин у нижній частині екрану */
    opacity: 0; /* Початкова прозорість - машини невидимі */
    transition: bottom 0.9s ease, opacity 0.9s ease; /* Плавні переходи */
}

.car.show {
    bottom: 0; /* Поступове зміщення машин вгору */
    opacity: 1; /* Поступове збільшення прозорості - машини з'являються */
}

